@charset "utf-8";
@import url("font.css");
@import url("reset.css");
@import url("base.css");

/* ==============================================

    * admin

============================================== */
/* base */
.inner-layer{
    width: 100%;
    min-width: 1400px;
    max-width: 1400px;
    margin: 0 auto;
    transition: 0.3s ease;
}
.inner-layer.wide{
    min-width: 1700px;
    max-width: 100%;
    padding-left: 3%;
    padding-right: 3%;
}
.cst-table th,
.cst-table td{
    padding: 10px;
    font-size: 1.6rem;
}
.cst-table th{
    background-color: #f0f3f9;
    color: #111111;
}
.cst-table thead th{
    background-color: #f0f3f9;
    color: #1d2c46;
    font-weight: 500;
}
.cst-table th.text-left,
.cst-table td.text-left{
    padding-left: 10px;
    padding-right: 10px;
}
.form-item{
    height: 30px;
}
.cst-table .form-item{
    width: 100%;
}

/* form */
.write-wrap .form-tit,
.wrtie-wrap .form-con{
    font-size: 1.6rem;
}
.write-wrap .form-con .write-wrap{
    border-width: 1px;
    border-color: #e2e2e2;
}
.write-wrap .form-tit:has(.js-btn-toggle){
    padding-top: 5px;
    padding-bottom: 5px;
}
.form-group.has-btn .btn-small{
    padding: 3px 15px;
}

/* button */
.btn-wrap{
    margin-top: 45px;
}
.btn.btn-type1{
    min-width: 110px;
    padding: 12px 30px;
    margin: 3px;
    border-radius: 2px;
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
}
.btn.btn-small{
    padding: 6px 12px;
    border-radius: 2px;
    text-align: center;
    font-size: 1.4rem;
}

/* header */
.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0; 
}
.header-logo > a img{
    height: 33px;
}
.user-info{
    display: inline-block;
    font-size: 1.6rem;
    color: #3e3429;
    vertical-align: middle;
}
.util-menu{
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}
.util-menu > li{
    display: inline-block;
    vertical-align: middle;
}
.btn.btn-util{
    display: inline-block;
    border: 1px solid transparent;
    margin: 2px;
    padding: 9px 18px;
    border-radius: 3px;
    font-size: 1.6rem;
    line-height: 1;
}
.btn-util.color-type3{
    border-color: #999;
}

#gnb{
    width: 100%;
    min-width: 1400px;
    background-color: #2c2b51;
}
#gnb.wide{
    width: 100%;
    min-width: 1700px;
}
.gnb{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 200px;
}
.gnb > li{
    width: 33.33%;
}
.gnb > li > a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 0 65px;
    font-size: 2rem;
    color: #fff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.gnb > li.on > a,
.gnb > li:hover > a{
    background-color: #e04141;
}

/* footer */
.btn-top{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    bottom: 180px;
    right: 2%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #cf3a41;
    border-radius: 10px;
    font-size: 1.6rem;
    color: #fff;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.btn-top img{
    margin-bottom: 5px;
    width: 14px;
}
.btn-top.on{
    visibility: visible;
    opacity: 1;
}
#footer{
    width: 100%;
    min-width: 1400px;
    background-color: #1e1e2b;
}
#footer.wide{
    min-width: 1700px;
}
.footer-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 1.7;
}
.footer-logo{
    display: block;
    font-size: 1.6rem;
    color: #ffffff;
}
#footer .copy{
    padding: 27px 0;
    background-color: #14141a;
    color: #ffffff;
    font-size: 1.4rem;;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
}
.footer-con{
    font-size: 15px;
    color: #c4c4cf;
}
.footer-con ul > li{
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.footer-con ul > li + li{
    padding-left: 30px;
}
.footer-con ul > li strong{
    color: #ccd0d7;
    font-weight: 400;
}
.footer-con a{    
    color: #c4c4cf;
}
.footer-menu{
    white-space: nowrap;
}
.footer-menu > li{
    display: inline-block;
    margin: 4px;
    vertical-align: top;
}
.footer-menu > li > a{
    display: inline-block;
    min-width: 180px;
    padding: 9px 30px;
    background-color: #14141a;
    border-radius: 4px;
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: -0.025em;
    vertical-align: top;
    text-align: center;
}

/* container */
#container{
    width: 100%;
    min-width: 1400px;
    min-height: 600px;
    padding: 100px 0;
    font-size: 1.6rem;
    line-height: 1.5;
    transition: 0.3s ease;
}
#container.wide{
    min-width: 1700px;
    padding-left: 3%;
    padding-right: 3%;
}
.main-contents{
    max-width: 800px;
    margin: 0 auto;
    padding: 120px 80px 300px;
    background-repeat: no-repeat;
    background-position: right 35px bottom;
    background-image: url('../image/admin/img_admin_main.png');
    background-color: #fafaff;
}
.main-tit{
    font-size: 5.5rem;
    color: #191829;    
    font-weight: 800;
    letter-spacing: -0.02em;
    line-height: 1;
}
.main-tit > span{
    display: block;
    margin-top: 10px;
    font-weight: 100;
    color: #000;
}

/* sub */
.sub-tab-wrap{
    margin-bottom: 35px;
    border-bottom: 2px solid #36325f;
}
.sub-tab-menu > li{
    float: left;
    min-width: 170px;
    border: 1px solid #c3c1d7;
    border-top-width: 2px;
    border-bottom: 0;
    vertical-align: top;
}
.sub-tab-menu > li > a{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    height: 48px;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: -0.045em;
    color: #c3c1d7;
    line-height: 1.2;
    text-align: center;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.sub-tab-menu > li:first-child{
    border-left-width: 2px;
}
.sub-tab-menu > li:last-child{
    border-right-width: 2px;
}
.sub-tab-menu > li.on,
.sub-tab-menu > li:hover{
    border-color: #36325f;
    border-width: 2px;
}
.sub-tab-menu > li.on > a,
.sub-tab-menu > li:hover > a{
    height: 50px;
    margin-bottom: -2px;
    background-color: #fff;
    color: #36325f;
}

.sch-form-wrap{
    margin-bottom: 100px;
}
.list-contop *{
    display: inline-block;
    vertical-align: middle;
}
.list-contop{
    margin-bottom: 3px;
    font-size: 1.4rem;
}
.list-contop .btn-type1{
    margin: 0;
    margin-right: 6px;
    padding: 10px 20px;
    font-size: 1.6rem;
    vertical-align: bottom;
}
.list-contop .cnt{
    margin: 5px 0;
    color: #001111;
}
.list-contop:has(.btn-type1) .cnt{
    margin: 12px 0;
}
.list-table th,
.list-table td{
    padding: 10px 5px;
    font-size: 1.4rem;
    line-height: 1.1;
    word-break: break-word;
}
.list-table th .checkbox-wrap,
.list-table th .radio-wrap,
.list-table td .checkbox-wrap,
.list-table td .radio-wrap{
    justify-content: center;
}
.list-table th .checkbox-group,
.list-table th .radio-group,
.list-table td .checkbox-group,
.list-table td .radio-group{
    padding-left: 0;
}
.list-table th .checkbox-group input[type="checkbox"],
.list-table th .radio-group input[type="radio"],
.list-table td .checkbox-group input[type="checkbox"],
.list-table td .radio-group input[type="radio"]{
    margin: 0;
}

.bar-list{
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}
.bar-list > li{
    position: relative;
    width: auto;
    max-width: 33.33%;
    border: 0;
    padding: 0 15px;
}
.bar-list > li + li:before{
    display: block;
    content: '';
    clear: both;
    position: absolute;
    top: 6px;
    left: 0;
    width: 1px;
    height: 10px;
    background-color: #111;
}

/* list::paging */
.paging-wrap{
    margin-top: 40px;
    text-align: center;
}
.paging{
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.paging > li{
    overflow: hidden;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 50%;
    vertical-align: top;
    transition: 0.3s ease;
}
.paging > .num:hover,
.paging > .num.on,
.paging > .num:hover > a,
.paging > .num.on > a{
    background-color: #f3f3f3;
    font-weight: 500;
    color: #000000;
}
.paging > li > a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3px 0;
    font-size: 14px;
    color: #b3b3b3;
    transition: 0.3s ease;
}
.paging > li:not(.num){
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s ease;
}
.paging > li:not(.num):hover{
    background-color: none;
}
.paging .first{
    background-image: url('../image/icon/ic_first.png');
}
.paging .first:hover{    
    background-image: url('../image/icon/ic_first_on.png');
}
.paging .prev{
    margin-right: 15px;
    background-image: url('../image/icon/ic_prev.png');
}
.paging .prev:hover{
    background-image: url('../image/icon/ic_prev_on.png');
}
.paging .next{
    margin-left: 15px;
    background-image: url('../image/icon/ic_next.png');
}
.paging .next:hover{    
    background-image: url('../image/icon/ic_next_on.png');
}
.paging .last{    
    background-image: url('../image/icon/ic_last.png');
}
.paging .last:hover{
    background-image: url('../image/icon/ic_last_on.png');
}