@charset "utf-8";
/* =====================================

	* reset 
	
====================================== */
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub , sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin: 0;padding: 0;border: 0;font-size: 100%;vertical-align: baseline;}
.h1, .h2, .h3, h1, h2, h3, .h4, .h5, .h6, h4, h5, h6{margin: 0;}
ul, ol{margin: 0;}
p{margin: 0;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}
body{line-height: 1;}
ol, ul, li{list-style: none;}
blockquote, q{quotes: none;}
blockquote:before, blockquote:after, q:before, q:after{content: '';content: none;}
table{border-collapse: collapse;border-spacing: 0;}

*{margin: 0;padding: 0;outline: none;box-sizing: border-box;}
html, body{font-family: 'Roboto', 'Pretendard', sans-serif;color: #242424;font-size: 62.5%;font-weight: 400;letter-spacing: -0.03em;}
header, footer, section, article, div, table, ul, ol, a, button, form, input, select, textarea, em, i, p, dl, dt, dd, span, strong{font-family: 'Roboto', 'Pretendard', sans-serif;}
table{border-collapse: collapse;border-spacing: 0;width: 100%;}
ul, ol, li{list-style: none;}
ul, ol, dl{margin: 0;}
dl dt, dl dd{margin: 0;}
form, fieldset, img{border: 0;}
img{vertical-align: middle;}
button{cursor: pointer;background: none;}
a{color: #242424;font-size: inherit;text-decoration: none;}
a:hover, a:active, a:visited, a:focus{color: inherit;text-decoration: none;}
input, select, textarea, button{color: #242424;font-size: inherit;border: 0;font-family: 'Roboto', 'Pretendard', sans-serif;}
textarea{width: 100%;resize: none;}
textarea[readonly]{cursor: default;}
iframe{width: 100%;border: 0;}
sup{vertical-align: super;font-size: 0.5em;}
sub{vertical-align: sub;font-size: 0.5em;}

.cf:after{display: block;content: '';clear: both;}
.hide{overflow: hidden;position: absolute;width: 1px;height: 1px;margin: -1px;clip: rect(0 0 0 0);}

.font-gmarket,
.font-gmarket *{
    font-family: 'GmarketSans', sans-serif;
}
.font-bc,
.font-bc *{
    font-family: 'BCcard', sans-serif;
}

/* iOS 11.0 */
constant(safe-area-inset-top)
constant(safe-area-inset-right)
constant(safe-area-inset-bottom)
constant(safe-area-inset-left)

/* iOS 11.2 */
env(safe-area-inset-top)
env(safe-area-inset-right)
env(safe-area-inset-bottom)
env(safe-area-inset-left)